In [1]:
# coding:utf-8

import pandas as pd
import csv

import xlrd

In [2]:
# 進化のデータセットの取得
# https://public.tableau.com/s/resources
# サンプルデータ/エンターテイメント/ポケモンのリストをダウンロード
# ダウンロードしたexcelをexcel2csv.pyを実行して、必要なシートをcsvに変換
evolution_df = pd.read_csv('Evolution_en.csv')
evolution_df = evolution_df.rename(columns={'Evolving from': '進化前', 'Evolving to':'進化後'})
evolution_df = evolution_df.loc[:,['進化前','進化後']]

In [3]:
evolution_df.head()

          進化前         進化後
0   Bulbasaur     Ivysaur
1     Ivysaur    Venusaur
2  Charmander  Charmeleon
3  Charmeleon   Charizard
4    Squirtle   Wartortle

In [4]:
# 英語名を日本語名に対応させる

# ポケモン図鑑
# 日本語名と英語名が載ってるデータをスクレイピング
# http://pokemon.symphonic-net.com/

japanese_df = pd.read_csv('./japanese.csv')

In [5]:
japanese_df.head()

   number   name     type          en
0       1  フシギダネ   たねポケモン   Bulbasaur
1       2  フシギソウ   たねポケモン     Ivysaur
2       3  フシギバナ   たねポケモン    Venusaur
3       4   ヒトカゲ  とかげポケモン  Charmander
4       5   リザード  かえんポケモン  Charmeleon

In [6]:
dic = {}
for (jp, en) in zip(japanese_df["name"], japanese_df["en"]):
    dic[en] = jp

In [7]:
dic.pop("Weezing")# 変なデータ削除
#dic

'マタドガスどくガスポケモン\n'

In [8]:
evolution_jp_df = pd.DataFrame()

for before, after in zip(evolution_df["進化前"], evolution_df["進化後"]):
    if before in dic and after in dic:
        evolution_jp_df = evolution_jp_df.append(pd.Series([dic[before], dic[after]]), ignore_index=True)
        
evolution_jp_df = evolution_jp_df.rename(columns={0: '進化前', 1:'進化後'})

In [9]:
evolution_jp_df.head()

     進化前    進化後
0  フシギダネ  フシギソウ
1  フシギソウ  フシギバナ
2   ヒトカゲ   リザード
3   リザード  リザードン
4   ゼニガメ   カメール

In [10]:
text = ""
for before, after in zip(evolution_jp_df["進化前"], evolution_jp_df["進化後"]):
    text += before
    text += "\t"
    text += after
    text += "\n"

In [11]:
# 保存
with open ("dataset.txt", "w") as f:
    f.write(text)